@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

input, textarea {
  color: #111827 !important;
  background-color: white !important;
}

input::placeholder, textarea::placeholder {
  color: #9ca3af !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
}

